@import url(variables.css);

.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
.btn-primary{    
    background: var(--color_orange);
    color: var(--color_white);
}